* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#form * {
  margin: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#loginBtn {
  width: 80px;
}

.displayInfos-group {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.displayInfos * {
  margin: 5px;
}
